{% extends 'base.html' %}

{% load static %}
{% static "images" as baseUrl %}

{% block content %}

<h1>RENAISSANCE COOP</h1>
<p1>Site créé par Kevin et Sefeldin</p1>
<hr>
<br>
<br>

<h2>PRODUITS SCOLAIRES EN VENTE</h2>

<hr>

<div class="container">
    <div class="row">
        {% for produit in produits %}
        <div class="col-sm-6">
            <div class="thumbnail">

                <img src="{{produit.img.url}}" width="500" height="100" alt="{{produit.desc}}">
                <div class="caption">
                    <p>{{produit.name}}<br>
                        DESCRIPTION : {{produit.desc}}<br>
                        PRIX : {{produit.price}}<br>
                    </p>
                </div>

                <form action="actif" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{produit.id}}">
                    <button type="submit" class="btn btn-default">Voir plus d'information</button>
                </form>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}