{% extends 'base.html' %}

{% load static %}
{% static "images" as baseUrl %}

{% block content %}

<h1>RENAISSANCE COOP</h1>
<p1>Site créé par Kevin et Sefeldin</p1>
<hr>
<br>
<br>

<h2>PRODUITS SCOLAIRES EN VENTE</h2>

<hr>

<div class="container">
    <div class="row">
        {% for produit in produits %}
        <div class="col-sm-6" >
            <div class="thumbnail">
                <a href="">
                    <img src="{{produit.img.url}}" width="200" height="200" alt="Image non trouvé">
                    <div class="caption">
                        <p>{{produit.name}}<br>
                            DESCRIPTION : {{produit.desc}}<br>
                            PRIX : {{produit.price}}<br>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}