{% extends 'base.html' %}

{% load static %}
{% static "images" as baseUrl %}

{% block content %}
<h1>Bonjour et Bienvenue à RENAISSANCE COOP</h1>
<p1>Site crée par Kevin et Sefeldin</p1>
<hr>
<img src="https://mcs.rcdsb.on.ca/en/resourcesGeneral/school-supplies-clipart.jpg" width="200" height="200">

<div>

    {% if user.is_authenticated %}
    Hello, <strong>{{user.username}}</strong><br>
    <a href="logout">Se déconnecter</a><br>
    {% else %}
    <a href="login">Se connecter</a><br>
    <a href="register">S'enregistrer</a>
    {% endif %}

</div>

<br>
<br>

<h2>PRODUITS SCOLAIRES EN VENTE</h2>

<hr>



{% for produit in produits %}
<!-- <img src="{% static 'images/math.jpg' %}" width="200" height="200" alt="Image non trouvé"><br> -->

<div>

    <img src="{{produit.img.url}}" width="200" height="200" alt="Image non trouvé"><br>
    {{produit.name}}<br>
    DESCRIPTION : {{produit.desc}}<br>
    PRIX : {{produit.price}}<br>

</div>



<br>
<br>

{% endfor %}

{% endblock %}