{% extends 'base.html' %}

{% block content %}

<h2>Se connecter</h2>

<form action="login" method="post">

    {% csrf_token %}

    <input type="text" name="username" placeholder="Nom d'utilisateur"><br>
    <input type="password" name="password" placeholder="Mot de passe"><br>

    <input type="submit" value="Se connecter">

</form>

<div>
    {% for message in messsages %}
    <h3> {{message}} </h3>
    {% endfor %}
</div>

Tu n'as pas de compte <a href="register">Enregistre-toi ici.</a>

{% endblock %}