{% extends 'base.html' %}

{% block content %}

<h2>S'enregistrer</h2>

<form action="register" method="post">

    {% csrf_token %}

    <div class="form-group">
        <input type="text" name="username" placeholder="Nom d'utilisateur">
    </div>
    <div class="form-group">
        <input type="email" name="email" placeholder="Adresse email">
    </div>
    <div class="form-group">
        <input type="password" name="password1" placeholder="Mot de passe">
    </div>
    <div class="form-group">
        <input type="password" name="password2" placeholder="Confimer votre mot de passe">
    </div>

    <button type="submit" class="btn btn-default">S'enregistrer</button>
</form>

<h2>as tu déjà un compte?</h2>
<a href="login">Connecte toi ici.</a> <br>

{% for msg in messages %}
<h3> {{msg}} </h3>
{% endfor %}

{% endblock %}