{% extends 'base.html' %}

{% block content %}

<h2>S'enregistrer</h2>

<form action="register" method="post">

    {% csrf_token %}

    <input type="text" name="username" placeholder="Nom d'utilisateur"><br>
    <input type="email" name="email" placeholder="Adresse email"><br>
    <input type="password" name="password1" placeholder="Mot de passe"><br>
    <input type="password" name="password2" placeholder="Confimer votre mot de passe"><br>
    <input type="submit" value="S'enregistrer">

</form>

<div>
    {% for message in messsages %}
    <h3> {{message}} </h3>
    {% endfor %}
</div>

Tu as déjà un compte? <a href="login">Connecte toi ici.</a>

{% endblock %}